.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ---- CLB Styles ----- */

.new-beer,
.new-entry {
     max-width: 560px;
     margin-left: auto;
     margin-right: auto;
     display: grid;
     grid-template-columns: 1fr;
     grid-row-gap: 20px;
}

.clb-two-col {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-one-col {
     display: grid;
     grid-template-columns: 1fr;
     text-align: left;
}

.MuiTabs-root {
    margin-left: auto;
    margin-right: auto;
}


.clb-flex-row-three-fourths {
     display: grid;
     grid-template-columns: 3fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-flex-row-two-thirds {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-flex-row-fifty-fifty {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-left-align {
     text-align: left;
}

.successful-added-message {
     display: inline-block;
     margin-top: 20px;
     background: yellow;
     padding: 20px;
     border-radius: 12px;
}

.clb-beer-card-area {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-column-gap: 30px;
     grid-row-gap: 30px;
}

.clb-single-beer-card img {
     width: 100%;
}

.clb-single-beer-card.inactive img {
     filter: grayscale(1) opacity(.2);
}

.clb-single-beer-card .MuiCardActions-root {
     display: block;
     padding-bottom: 20px;
}

.clb-single-beer-notes .modal-footer {
     justify-content: space-between;
}

.log-new-entry button {
     margin-top: 20px;
     margin-bottom: 60px;
}

.beer-log-area {
     max-width: 680px;
     margin-left: auto;
    margin-right: auto;
}

.App h1.clb-header {
     font-size: 4rem;
     padding: 20px;
}

.clb-footer {
     padding: 20px;
     color: #fff;
     background: #673ab7;
}

.clb-footer a {
     color: #fff;
}

.clb-footer a:hover {
     color: #fff;
     text-decoration: none;
}





/* ---- Media ----- */

@media only screen and (max-width: 1123px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
     }

}




@media only screen and (max-width: 880px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr 1fr;
     }

}


@media only screen and (max-width: 500px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr;
     }

}
