.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* ---- CLB Styles ----- */

.new-beer,
.new-entry {
     max-width: 560px;
     margin-left: auto;
     margin-right: auto;
     display: grid;
     grid-template-columns: 1fr;
     grid-row-gap: 20px;
}

.clb-two-col {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-one-col {
     display: grid;
     grid-template-columns: 1fr;
     text-align: left;
}

.MuiTabs-root {
    margin-left: auto;
    margin-right: auto;
}


.clb-flex-row-three-fourths {
     display: grid;
     grid-template-columns: 3fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-flex-row-two-thirds {
     display: grid;
     grid-template-columns: 2fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-flex-row-fifty-fifty {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 20px;
     text-align: left;
}

.clb-left-align {
     text-align: left;
}

.successful-added-message {
     display: inline-block;
     margin-top: 20px;
     background: #88c3a9;
     padding: 20px;
     border-radius: 12px;
}

.clb-beer-card-area {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-column-gap: 30px;
     grid-row-gap: 30px;
}

.clb-single-beer-card img {
     width: 100%;
}

.clb-single-beer-card h2 {
     font-family: 'Permanent Marker', sans-serif;
     letter-spacing: 2px;
     color: #fff;
     margin-top: 8px;
     font-weight: 600;
     background: #88c3a9;
     padding: 20px;
     padding-bottom: 12px;
     margin-top: -8px;
}

.clb-single-beer-card {
     transition: all ease-in-out .5s;
}

.clb-brewery-to-publish {
     font-size: 0.75rem;
     font-family: "Roboto", "Helvetica", "Arial", sans-serif;
     font-weight: 400;
     line-height: 1.4;
     letter-spacing: 0.08333em;
     text-transform: uppercase;
     margin-bottom: 12px;
}

.clb-single-beer-card.inactive img {
     filter: grayscale(1) opacity(.2);
}

.clb-single-beer-card .MuiCardActions-root {
     display: block;
     padding-bottom: 20px;
}

.clb-single-beer-card a {
     color: #fff;
     transition: all ease-in-out .25s;
}

.clb-single-beer-card a:hover {
     color: #fff;
     text-decoration: none;
     text-shadow: 0 0 30px rgba(255,255,255,.8);
}

.clb-single-beer-notes .modal-footer, .clb-edit-beer .modal-footer {
     justify-content: space-between;
}

.log-new-entry button {
     margin-top: 20px;
     margin-bottom: 60px;
}

.beer-log-area {
     max-width: 680px;
     margin-left: auto;
    margin-right: auto;
}

.App h1.clb-header {
     font-size: 4rem;
     padding: 20px;
     font-family: 'Permanent Marker', sans-serif;
}

.clb-landing-tabs {
    margin-left: auto;
    margin-right: auto;
}

.clb-footer {
     padding: 20px;
     color: #fff;
     background: #45484d;
}

.clb-footer p {
     font-family: 'Permanent Marker', sans-serif;
     font-size: .75rem;
}

.clb-footer a {
     font-family: 'Permanent Marker', sans-serif;
     color: #fff;
}

.clb-footer a:hover {
     color: #fff;
     text-decoration: none;
}

.clb-edit-beer {
     background: rgba(136,195,169,.9);
}

.clb-single-beer-notes {
     background: rgba(0,0,0,.7);
}

.clb-select-view {
     margin-bottom: 20px;
}

#my-rating-button {
     padding-right: 8px;
}

button.clb-light-border-outline-button {
     border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.beer-log-area .MuiExpansionPanelDetails-root {
     display: block;
}

.complete-log {
     font-weight: 400;
     text-align: left;
}

.complete-log ul, .modal-body ul.log-entry-area {
     padding: 0;
     margin: 0;
}

.complete-log li, li.modal-single-entry {
     display: block;
     background: #f5f5f5;
     border-radius: 3px;
     padding: 12px;
     list-style-type: none;
     margin-bottom: 12px;
}

.complete-log li.single-entry p, .modal-log-notes {
     margin: 0;
     margin-top: 6px;
     font-size: .75em;
     font-style: italic;
}

.modal-log-notes {
     margin-top: 0;
}

.complete-log h3 {
     font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
     font-weight: 400;
     margin: 0;
}

.color-picker-area {
     padding: 20px;
     background: #f5f5f5;
     border-radius: 3px;
}

.color-picker-area h4 {
     text-align: left;
     font-weight: 400;
     font-size: 1rem;
}

:focus {
    outline: none !important;
}

.brewery-credit {
     font-family: 'Courier Prime', monospace;
}

.clb-modal-subheader.remove-beer {
     color: red;
     font-size: .75rem;
     font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h3.collapsible-log-title {
     margin-top: 6px;
}

.clb-view-button:hover {
     background: #88c3a9 !important;
     color: #fff !important;
}

.clb-view-button.selected {
     background: #88c3a9;
     color: #fff;
}

.my-rating-button:hover {
     cursor: default !important;
     background: #fff !important;
}

.MuiTab-wrapper, .h2, h2, .h3, h3 {
     font-family: 'Permanent Marker', sans-serif;
}

.clb-brewery-to-publish {
     font-family: 'Courier Prime', monospace;
     font-size: 1rem;
}

.clb-brewery-to-publish .brewery-location  {
     font-size: .5rem;
     color: rgba(0, 0, 0, 0.54);
}

body {
    font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

#new-beer-hex-color-input {
     text-align: left;
}

.login-item input, .registration-area input {
     width: 560px;
}

.login-area button, #registration-form button {
     margin-top: 30px;
}

.modal-title.h4 {
     font-family: 'Permanent Marker', sans-serif;
}

.clb-light-border-outline-button.my-rating-button {
     display: inline;
     position: relative;
     bottom: -1px;
     padding: 6px 15px;
     padding-right: 11px;
     border: 1px solid rgba(0, 0, 0, 0.15);
     border-radius: 4px;
}

.account-buttons {
     display: flex;
     justify-content: center;
}

.account-action-area {
     margin: 8px;
}

.color-picker-area h4 {
     text-align: left;
     font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     font-weight: 700;
}

.color-picker-area #swapper {
     font-size: .75rem;
}

.add-brewery-first {
     background: yellow;
}

.clb-extra-margin-top {
     margin-top: 20px;
}

.clb-new-beer-title input {
     font-size: 3rem !important;
}



/* #main-content-area {
  min-height: calc(100vh) !important;
  display: flex;
  margin-bottom: 20px;
}

.clb-footer {
  margin-top: -58px;
} */

html, .App, #main-content-area {
  height: 100% !important;
}
.App {
  display: flex !important;
  flex-direction: column !important;
}
#main-content-area {
  flex: 1 0 auto !important;
}
.clb-footer {
  flex-shrink: 0 !important;
}



/* ----- React Transitions ------ */

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}




/* ---- Media ----- */

@media only screen and (max-width: 1123px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr 1fr 1fr;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
     }

}




@media only screen and (max-width: 880px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr 1fr;
     }

}


@media only screen and (max-width: 500px) {

     .clb-beer-card-area {
          grid-template-columns: 1fr;
     }

}
